/* virtual class style */


.classroom-content {
    width: 90%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.content-left {

    background-color: #d7d7c1;
}

/*
.content-right {
    width: 20%;
    float: left;
    background-color: black;
} */

.cr-header {
    border-style: dashed;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.chapter1 {
    border-style: dashed;

    padding-bottom: 3%;
}

.chapter2 {
    border-style: dashed;

    padding-bottom: 3%;
}
