/* topheader style */
.header1 {
    background-color: #00334d;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 100px;
    margin-bottom: -1px;

}

/* Remove margins and padding from the list, and add a black background color */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004466;
}

/* Float the list items side by side */
li {float: left;}

/* Style the links inside the list items */
li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.active {
    background-color: #555;
}

li a:hover:not(.active) {
    background-color: #111;
}


/* whitespace sitemap style code */
.whitespace {
    background-color: #c2c2a3;
    height: 28px;
    margin-bottom: -1px;
}



/* footer style code */
/*
footer {
    background-color: #00334d;
    height: 20%;

}*/

.img .w3-content w3-display-container {

}

.mySlides {
    max-width: 100%;
}

.learn-more {
 background-color: #00334d;

}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
    color: white;
}

.learn-more a {
  color: #00b0ff;
}

.learn-more p {
    color: white;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
